<html>
  <head>
    <title>RailsFirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p>********* Welcome to the longest word-game! *********</p>
    <p>Here is your grid:</p>
    <p> <%= @letters %> </p>
    <p>*****************************************************</p>


  </body>
</html>
